# Zoom limits
NEXT_PUBLIC_MIN_ZOOM=0.3
NEXT_PUBLIC_MAX_ZOOM=1.5

# Show copy-to-clipboard JSON button (true | false)
NEXT_PUBLIC_SHOW_COPY_JSON=false

# Show zoom percentage indicator (true | false)
NEXT_PUBLIC_SHOW_ZOOM_INDICATOR=false

# Initial diagram to load (welcome | simple )
NEXT_PUBLIC_INITIAL_FLOW=welcome

# Canvas color mode (system | light | dark)
NEXT_PUBLIC_COLOR_MODE=light
